{% extends "base.html" %}

{% block title %}GL Construction Services{% endblock %}

{% block content %}
<div class="centered-div">
  <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Icon" width="70" height="70">
</div>
<div>
<h1 class="display-4 text-center">GL Construction Services</h1>
</div>
<hr class="styled-hr">
<style>
  .centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .styled-hr {
        border: none;
        height: 2px; 
        background-color: #000;
        border-color: #000;
    }
    .background {
      background-image: url("{{ url_for('static', filename='images/gp2.png') }}"); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
    }
    .slider-container {
        position: relative;
        width: 800px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        min-width: 100%;
    }

    .img-fluid {
        width: 100%;
        height: auto;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px;
        cursor: pointer;
        color: #F0A75C;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
    .down-arrow {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 30px solid #F0A75C; /* Adjust color as needed */
      margin: 20px auto; /* Adjust margin as needed */
    }
    .slider-container2 {
      overflow: hidden;
      white-space: nowrap;
      margin-left: auto;
    }

    .slider2 {
      display: inline-block;
      animation: slide2 15s linear infinite; /* Adjust the animation duration as needed */
    }

    .icon {
      width: 100px; 
      height: 100px;
      margin-right: 200px; 
      border-radius: 50%; 
      display: inline-block;
      overflow: hidden;
    }
    .larger-icon {
      width: 130px; /* Larger size for the second icon */
      height: 90px;
    }
    .smaller-icon {
      width: 110px; 
      height: 70px;
    }
    .icon img {
      width: 100%; /* Make the image fill the container */
      height: 100%;
      object-fit: contain; /* Adjust to fit or cover as needed */
    }

    @keyframes slide2 {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    .image-container {
      position: relative;
      text-align: center;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }

    .button-container {
      position: absolute;
      bottom: 60px; /* Adjust the distance from the bottom */
      left: 50%;
      transform: translateX(-50%);
    }

    .text-container {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .display-5 {
      font-weight: bold; /* Make the text bold */
      color: #2d2d2d; /* Darker color */
    }

    .button {
      padding: 30px 40px;
      font-size: 25px;
      background-color: #060606;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
    }
</style>
</head>
<body>

<div class="background">
<div class="slider-container">
<div class="slider">
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/index.png') }}" alt="Slide 1">
    </div>
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/house.png') }}" alt="Slide 2">
    </div>
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/flooring.png') }}" alt="Slide 3">
    </div>
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/bathroom.png') }}" alt="Slide 4">
    </div>
</div>

<div class="prev" onclick="prevSlide()">&#10094;</div>
<div class="next" onclick="nextSlide()">&#10095;</div>
</div>
</div>

<script>
let currentSlide = 0;

function showSlide(slideIndex) {
    const slider = document.querySelector('.slider');
    const slides = document.querySelectorAll('.slide');

    if (slideIndex >= slides.length) {
        currentSlide = 0;
    } else if (slideIndex < 0) {
        currentSlide = slides.length - 1;
    } else {
        currentSlide = slideIndex;
    }

    const translateValue = -currentSlide * 100 + '%';
    slider.style.transform = 'translateX(' + translateValue + ')';
}

function nextSlide() {
    showSlide(currentSlide + 1);
}

function prevSlide() {
    showSlide(currentSlide - 1);
}
</script>
<div style="width: 100%; text-align: center; background-color: #c9c9c9; border-top: 6px solid #F0A75C; padding: 40px 0;">
    <div style="width: 50%; float: left; color: #F0A75C; padding: 60px 20px;">
        <h3 style="font-size: 55px;">WHAT WE DO.</h3>
    </div>
    <div style="width: 50%; float: left; padding: 50px 20px; display: flex; flex-direction: column; align-items: center; text-align: left;">
        <p style="font-size: 20px;">GL Construction Services is a seasoned provider offering a diverse range of services, with the capability to apply them to various building types. Our expertise extends to design-build tenant finish, demolitions, remodels, painting, multi-unit/mixed-use structures, and outdoor plazas.</p>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="down-arrow"></div>
<br>
<br>
<h3 class="display-4 text-center">Clients We've Worked With:</h3>
<br>
<div class="slider-container2">
    <div class="slider2">
      <div class="icon larger-icon"><img src="{{ url_for('static', filename='images/idn.png') }}" alt="Image 1"></div>
      <div class="icon larger-icon"><img src="{{ url_for('static', filename='images/sc.png') }}" alt="Image 2"></div>
      <div class="icon"><img src="{{ url_for('static', filename='images/pf.png') }}" alt="Image 3"></div>
      <div class="icon larger-icon"><img src="{{ url_for('static', filename='images/au.png') }}" alt="Image 4"></div>
      <div class="icon larger-icon"><img src="{{ url_for('static', filename='images/cbre.png') }}" alt="Image 5"></div>
      <!--public storage icon is having some issues-->
      <div class="icon icon img"><img src="{{ url_for('static', filename='images/ps.png') }}" alt="Image 5"></div>
    </div>
  </div>
  <div class="image-container" style="border-top: 6px solid #070707;">
    <div>
      <img class="img-fluid" src="{{ url_for('static', filename='images/banner2.png') }}" alt="Banner">
    </div>
    <div class="text-container">
        <h3 class="display-5 text-center" style="color:#070707;">LET'S GET STARTED.</h3>
    </div>
    <div class="button-container">
      <a href="{{ url_for('contact') }}" class="button">Contact Us</a>
    </div>
  </div>
</body>
{% endblock %}