{% extends "base.html" %}

{% block title %}GL Construction Services{% endblock %}

{% block content %}
<h1 class="display-4 text-center">GL Construction Services</h1>
<hr>
<style>
    .slider-container {
        position: relative;
        width: 1000px; /* Set the width of your slider */
        margin: 0 auto; /* Center the slider */
        overflow: hidden;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        min-width: 100%;
    }

    .img-fluid {
        width: 100%;
        height: auto;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px;
        cursor: pointer;
        color: #F0A75C;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
</style>
</head>
<body>

<div class="slider-container">
<div class="slider">
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/index.png') }}" alt="Slide 1">
    </div>
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/house.png') }}" alt="Slide 2">
    </div>
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/flooring.png') }}" alt="Slide 3">
    </div>
    <div class="slide">
        <img class="img-fluid" src="{{ url_for('static', filename='images/bathroom.png') }}" alt="Slide 4">
    </div>
</div>

<div class="prev" onclick="prevSlide()">&#10094;</div>
<div class="next" onclick="nextSlide()">&#10095;</div>
</div>

<script>
let currentSlide = 0;

function showSlide(slideIndex) {
    const slider = document.querySelector('.slider');
    const slides = document.querySelectorAll('.slide');

    if (slideIndex >= slides.length) {
        currentSlide = 0;
    } else if (slideIndex < 0) {
        currentSlide = slides.length - 1;
    } else {
        currentSlide = slideIndex;
    }

    const translateValue = -currentSlide * 100 + '%';
    slider.style.transform = 'translateX(' + translateValue + ')';
}

function nextSlide() {
    showSlide(currentSlide + 1);
}

function prevSlide() {
    showSlide(currentSlide - 1);
}
</script>
<br>
<div style="width: 100%; text-align: center; background-color: #c9c9c9;">
    <div style="width: 50%; float: left; color: #F0A75C; padding: 50px 0;">
        <h3 style="font-size: 50px;">WHAT WE DO.</h3>
    </div>
    <div style="width: 50%; float: left; padding: 50px 0;">
        <p style="font-size: 15px;">GL Construction Services is a seasoned provider offering a diverse range of services, with the capability to apply them to various building types. Our expertise extends to demolitions, remodels, warehouses, painting, multi-unit/mixed-use structures, and outdoor plazas.</p>
    </div>
    <div style="clear: both;"></div>
</div>
</body>
{% endblock %}